{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h1 class="text-center mb-5">
        Explore Trending
    </h1>

    <div class="row g-4">

        <!-- Card 1 -->
        <div class="col-md-6 col-lg-4">
            <div class="card h-100 shadow-sm">

                <img 
                    src="https://picsum.photos/500/300?random=1"
                    class="card-img-top"
                    alt="Trending Music"
                >

                <div class="card-body">
                    <h5 class="card-title">
                        Trending Music
                    </h5>

                    <p class="card-text">
                        Listen to the latest trending songs and playlists.
                    </p>

                    <a href="#" class="btn btn-primary">
                        Explore
                    </a>
                </div>

            </div>
        </div>


        <!-- Card 2 -->
        <div class="col-md-6 col-lg-4">
            <div class="card h-100 shadow-sm">

                <img 
                    src="https://picsum.photos/500/300?random=2"
                    class="card-img-top"
                    alt="Top Restaurants"
                >

                <div class="card-body">
                    <h5 class="card-title">
                        Top Restaurants
                    </h5>

                    <p class="card-text">
                        Discover popular restaurants and delicious food.
                    </p>

                    <a href="#" class="btn btn-primary">
                        Explore
                    </a>
                </div>

            </div>
        </div>


        <!-- Card 3 -->
        <div class="col-md-6 col-lg-4">
            <div class="card h-100 shadow-sm">

                <img 
                    src="https://picsum.photos/500/300?random=3"
                    class="card-img-top"
                    alt="Chill Vibes"
                >

                <div class="card-body">
                    <h5 class="card-title">
                        Chill Vibes
                    </h5>

                    <p class="card-text">
                        Relax and enjoy the best chill and relaxing playlists.
                    </p>

                    <a href="#" class="btn btn-primary">
                        Explore
                    </a>
                </div>

            </div>
        </div>


        <!-- Card 4 -->
        <div class="col-md-6 col-lg-4">
            <div class="card h-100 shadow-sm">

                <img 
                    src="https://picsum.photos/500/300?random=4"
                    class="card-img-top"
                    alt="Best Cafes"
                >

                <div class="card-body">
                    <h5 class="card-title">
                        Best Cafes
                    </h5>

                    <p class="card-text">
                        Find the best cafes and cozy places near you.
                    </p>

                    <a href="#" class="btn btn-primary">
                        Explore
                    </a>
                </div>

            </div>
        </div>


        <!-- Card 5 -->
        <div class="col-md-6 col-lg-4">
            <div class="card h-100 shadow-sm">

                <img 
                    src="https://picsum.photos/500/300?random=5"
                    class="card-img-top"
                    alt="Top Hits"
                >

                <div class="card-body">
                    <h5 class="card-title">
                        Top Hits
                    </h5>

                    <p class="card-text">
                        Enjoy the most popular songs and trending hits.
                    </p>

                    <a href="#" class="btn btn-primary">
                        Explore
                    </a>
                </div>

            </div>
        </div>


        <!-- Card 6 -->
        <div class="col-md-6 col-lg-4">
            <div class="card h-100 shadow-sm">

                <img 
                    src="https://picsum.photos/500/300?random=6"
                    class="card-img-top"
                    alt="Trending Places"
                >

                <div class="card-body">
                    <h5 class="card-title">
                        Trending Places
                    </h5>

                    <p class="card-text">
                        Explore trending destinations and amazing places.
                    </p>

                    <a href="#" class="btn btn-primary">
                        Explore
                    </a>
                </div>

            </div>
        </div>

    </div>

</div>

{% endblock %}